<!DOCTYPE html>
<html>
<head>
	<title>RedFlair</title>
</head>
<body>
	<h1 align="center">Reddit Flair Detector</h1>
	<h2 align="center">Flair Predictions for Subreddit India</h2><br><br>
	<center>
		<form action = "/predicting_output.ipynb" method = "POST" target = "_blank">Enter the URL:&nbsp&nbsp<input type="text" name="url" size="140"><br> <br>
			<input type="Submit" name="submit" value="Submit"></form>

	</center>

	<!-- <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
    	function goPython() {
    		$.ajax({
              url: "predicting_output.ipynb",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
    	}
    </script> -->
</body>
</html>